body {
    /* Force 0 margin from body */
    margin: 0;
}

.container {
    /* Single page view, no scoll */
    height: 100vh;
    width: 100vw;

    /* Organizing views */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* Background chess pattern */
    background-color: #fff;
    background-image: linear-gradient(#d6e5ff 3px, transparent 1px),
        linear-gradient(90deg, #d6e5ff 3px, transparent 1px);
    background-size: 25px 25px, 25px 25px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.info {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    border: thin solid black;
}

.info > * {
    display: flex;
    justify-content: center;
    align-content: center;

    border: thin solid black;
}

.img-example {
    height: 100%;
    width: 100px;

    border-right: thin solid black;
}